services:
{% if monitoring_agent_enable_node_exporter | bool %}
  node_exporter:
    image: {{ monitoring_agent_node_exporter_image }}
    container_name: monitoring-node-exporter
    restart: unless-stopped
    command:
      - --path.rootfs=/host
    volumes:
      - /:/host:ro,rslave
    ports:
      - "{{ monitoring_agent_bind_address }}:{{ monitoring_agent_node_exporter_port }}:9100"
{% endif %}
{% if monitoring_agent_enable_cadvisor | bool %}

  cadvisor:
    image: {{ monitoring_agent_cadvisor_image }}
    container_name: monitoring-cadvisor
    restart: unless-stopped
    privileged: true
    devices:
      - /dev/kmsg
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker:/var/lib/docker:ro
    ports:
      - "{{ monitoring_agent_bind_address }}:{{ monitoring_agent_cadvisor_port }}:8080"
{% endif %}
{% if monitoring_agent_promtail_enabled | bool %}

  promtail:
    image: {{ monitoring_agent_promtail_image }}
    container_name: monitoring-promtail-agent
    restart: unless-stopped
    command: -config.file=/etc/promtail/config.yml
    volumes:
      - ./promtail.yml:/etc/promtail/config.yml:ro
      - /var/log:/var/log:ro
      - /var/log/journal:/var/log/journal:ro
      - /run/log/journal:/run/log/journal:ro
      - /etc/machine-id:/etc/machine-id:ro
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
{% endif %}
