# Managed by Ansible: openwrt_passwall2
{% include 'passwall2/_rules.j2' %}
{% include 'passwall2/_nodes.j2' %}
{% include 'passwall2/_global.j2' %}
{% include 'passwall2/_acl.j2' %}
{% include 'passwall2/_runtime.j2' %}
{% include 'passwall2/_subscribe.j2' %}
