# IDE - PyCharm
*.tmp
temp/
tmp/
.idea

# Temporary files

*~
*.swo
*.swp
*.bak
# Backup files

.nfs*
.Trash-*
.directory
.fuse_hidden*
*~
Thumbs.db
ehthumbs.db
.Trashes
.Spotlight-V100
._*
.DS_Store?
.DS_Store
# OS

logs/
*.log
# Логи

*.secret
.vault_pass
.env
*.key
*.pem
vars/ernestsh.yml
hosts.ini
# Чувствительные данные

roles/*/molecule/.cache/
.molecule/
molecule/.cache/
.ansible/
*.retry
# Ansible

.hypothesis/
.tox/
htmlcov/
.coverage
.pytest_cache/
MANIFEST
*.egg
.installed.cfg
*.egg-info/
share/python-wheels/
pip-wheel-metadata/
wheels/
var/
sdist/
parts/
lib64/
lib/
.eggs/
eggs/
downloads/
dist/
develop-eggs/
build/
.Python
*.so
*$py.class
*.py[cod]
__pycache__/
ENV/
env/
venv/
.venv/
# Python

.idea_modules/
*.iws
*.iml
.idea/

