config global
	option enabled '{{ passwall2_template_enabled | default(passwall2_profile_effective.enabled) }}'
	option node_socks_port '{{ passwall2_socks_port }}'
	option localhost_proxy '{{ passwall2_profile_effective.localhost_proxy }}'
	option client_proxy '1'
	option socks_enabled '0'
	option acl_enable '{{ passwall2_profile_effective.acl_enable }}'
	option node '{{ passwall2_shunt_node_id }}'
	option direct_dns_protocol 'auto'
	option direct_dns_query_strategy 'UseIP'
	option remote_dns_protocol '{{ passwall2_profile_effective.remote_dns_protocol }}'
	option remote_dns '{{ passwall2_profile_effective.remote_dns }}'
	option remote_dns_query_strategy 'UseIPv4'
	option dns_hosts '{{ passwall2_profile_effective.dns_hosts | join("\n") }}'
	option log_node '1'
	option loglevel '{{ passwall2_profile_effective.loglevel }}'
	option write_ipset_direct '1'
	option remote_dns_detour '{{ passwall2_profile_effective.remote_dns_detour }}'
	option remote_fakedns '0'
	option dns_redirect '1'
	option remote_dns_doh '{{ passwall2_profile_effective.remote_dns_doh }}'

