config nodes '{{ passwall2_shunt_node_id }}'
	option remarks 'Shunt'
	option type 'Xray'
	option protocol '_shunt'
	option Direct '_direct'
	option Ban_RU '{{ passwall2_balance_node_id }}'
	option Proxy '{{ passwall2_balance_node_id }}'
	option default_node '{{ passwall2_balance_node_id }}'
	option domainStrategy 'IPIfNonMatch'
	option domainMatcher 'hybrid'
	option preproxy_enabled '0'
	option Block '_blackhole'

config nodes '{{ passwall2_balance_node_id }}'
	option remarks 'Balance'
	option type 'Xray'
	option protocol '_balancing'
	option balancingStrategy 'leastPing'
	option probeInterval '1m'
	option useCustomProbeUrl '1'
	option probeUrl '{{ passwall2_probe_url }}'

