{
{% if remnawave_caddy_email_effective | trim | length > 0 %}
    email {{ remnawave_caddy_email_effective }}
{% endif %}
}

http://{{ remnawave_caddy_domain_effective }} {
    redir https://{{ remnawave_caddy_domain_effective }}:{{ remnawave_caddy_monitor_port_effective }}{uri} permanent
}

https://{{ remnawave_caddy_domain_effective }}:{{ remnawave_caddy_monitor_port_effective }} {
    encode zstd gzip
    respond /healthz "ok" 200
    respond "remnawave-node" 200
}
