{
    # Self-steal mode: do not bind :80/:443 implicitly.
    auto_https off
}

http://{{ remnawave_caddy_domain_effective }}:{{ remnawave_caddy_monitor_port_effective }} {
    @local {
        remote_ip 127.0.0.1 ::1
    }

    handle @local {
        respond /healthz "ok" 200
        respond "remnawave-node" 200
    }

    handle {
        abort
    }
}
