WORKER_IMAGE={{ yusic_worker_image_ref }}
WORKER_ID={{ yusic_worker.alias }}
WORKER_TAGS={{ yusic_worker.tags | join(',') }}
WORKER_MAX_CONCURRENT_JOBS={{ yusic_worker.max_concurrent_jobs }}
WORKER_HEARTBEAT_INTERVAL_SECONDS=5
WORKER_HEARTBEAT_TTL_SECONDS=30
WORKER_HEALTH_PROBE_INTERVAL_SECONDS=30
WORKER_TRANSIENT_ERROR_WINDOW_SECONDS=180
WORKER_REQUIRE_DISTINCT_CACHE_BOT_TOKEN=1
REDIS_URL={{ yusic_worker.redis_url }}
CACHE_BOT_TOKEN={{ yusic_worker.cache_bot_token }}
INLINE_CACHE_CHAT_ID={{ yusic_worker.inline_cache_chat_id }}
WORKER_HTTP_PROXY={{ yusic_worker.proxy.http_proxy | default('') }}
WORKER_HTTPS_PROXY={{ yusic_worker.proxy.https_proxy | default('') }}
WORKER_NO_PROXY={{ yusic_worker.proxy.no_proxy | default('localhost,127.0.0.1,::1') }}

